

.prompt {
	&-dashboard {
		height: calc(100vh - 52px);
	}

	&-col {
		border: 1px solid #E2E8ED;
	}

	&-left {
		width: 453px;

		&.shrinked {
			width: 40px;
			padding-top: 16px;

			.tabs,
			.tabs-wrapper ~ * {
				display: none;
			}

			.tabs-wrapper {
				justify-content: center;
			}
		}

		.tab-panels {
			border: 1px solid #E2E8ED;
		}

		.part:not(:last-child ) {
			border-bottom: 1px solid #E2E8ED;
		}
	}

	&-right {
		.btn-wrapper {
			border-bottom: 1px solid #E2E8ED;

			.btn:disabled > *:not(.center) {
				opacity: 0;
			}
		}

		.card {
			//background: #F8FAFC;
			border: 1px solid #E2E8ED;
		}

		.top-wrapper {
			height: calc(100% - 58px);
			@include scrollbar(#71717366, #71717326);
		}

		.middle {
			background: #F8FAFC;
			border-top: 1px solid #E2E8ED;
		}

		.tab-panels {
			background: #F8FAFC;
			border-top: 1px solid #E2E8ED;
			@include scrollbar(#71717366, #71717326);
		}

		.details {
			border-top: 1px solid #E2E8ED;
		}

		.testing-console {
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: white;
			border-top: 1px solid #E2E8ED;
			//height: 58px;
			//transition: height 0.3s;
			@include scrollbar(#71717366, #71717326);


			&.half-expanded {
				height: 50%;
			}

			&.full-expanded {
				height: calc(100% - 49px);
				border-top: none;
			}

			.simple-textarea-container {
				textarea {
					@include scrollbar(#71717366, #71717326);
				}
			}

		}
	}
}

.tag {
	font-weight: 500;
	font-size: 12px;
	color: #6C8271;
	background: #6C82711F;
	border-radius: 6px;
	padding: 4px 10px;
	line-height: 1.6;
}

.tabs {
	&-inner {
		background: #F1F4F8;
		border: 1px solid #E6EBF0;
		border-radius: 6px;
	}
}

.tab-links {
	border-bottom: 1px solid #E6EBF0;

	button {
		border-bottom: 3px solid transparent;

		&:not(.active) {
			opacity: .64;
		}

		&.active {
			border-color: var(--orange);
		}
	}
}

.file-upload-modal .loading-bar-container:before {
	top: -5px;
	bottom: -1px;
}

.Toastify__toast {
	color: rgba(255, 255, 255, 0.72);
	background: #FF681F;
	width: 600px;
	padding: 20px;

	svg {
		opacity: 0.72;
	}
}

.dropdown-wrapper {
	.dropdown {
		top: 20px;
		right: 0;
		border-radius: 8px 0 8px 8px;
		border: 1px solid #DDE4EE;
		background: white;
		box-shadow: 0px 8px 8px -4px #1018280A, 0px 20px 24px -4px #1018280A;


		button {
			padding: 8px 14px;
			white-space: nowrap;
			transition: background 0.2s;

			&:hover,
			&.active {
				background: rgba(108, 130, 113, 0.1215686275);
			}
		}
	}
}

/*custom checkboxes*/
.current-page {
	border: 1px solid #E3E8EF;
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.04));
}

.navigation-arrows {
	button {
		min-width: 0;
		height: 32px;
	}
}

.custom-checkboxes {
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid rgba(227, 232, 239, 1);
	filter: drop-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.04));

	.custom-checkbox {
		padding: 12px;
		border-bottom: 1px solid #E3E8EF;
	}

	label {
		cursor: pointer;

		&[class="All Pages"] {
			cursor: default;

			span {
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}

	.versions {
		&-label {
			span {
				font-style: italic;
				color: var(--orange);
				font-size: 12px;
				padding: 2px 4px;
				border-radius: 4px;
				border: 1px solid var(--orange);
			}
		}
	}

	.version {
		border: 1px solid rgb(226, 232, 237);

		& + .version {
			margin-top: 8px;
		}
	}

	[type="checkbox"] {
		position: absolute;
		left: -9999px;

		& + span {
			position: relative;
			padding-left: 28px;
			font-size: 14px;
			line-height: 16px;
			color: #677489;

			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 16px;
				height: 16px;
				box-sizing: border-box;
			}

			&::before {
				top: 0;
				left: 0;
				border: 2px solid #677489;
			}

			&::after {
				top: 3.5px;
				left: 1.5px;
				width: 13px;
				height: 9px;
				transition: all 0.2s;
				transform-origin: bottom;
				background-size: 13px 9px;
				background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEzIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMS4wMjc5IDEuMTEyMDZMNC4yNTE4NyA3Ljg4ODA2TDEuMTcxODggNC44MDgwNiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
			}
		}

		&:not(:checked) + span::after {
			transform: scale(0.01);
		}

		&:checked + span {
			font-weight: 700;

			&::before {
				background: var(--orange);
				border-color: var(--orange);
			}

			&::after {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}

.card-variable {
	& + .card-variable {
		margin-top: 16px;
	}
}

.card-on-hover {
	border: 1px solid #E2E8ED;
	filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.15));
}

.version-history {
	.card {
		border: 1px solid var(--orange);
		box-shadow: 0 0 0 4px #FF681F33;

		&-wrapper {
			&::before {
				content: '';
				position: absolute;
				top: 44px;
				left: -35px;
				height: calc(100% - 4px);
				width: 1px;
				background: #E2E8ED;
			}
		}
	}
}