.add-edit-base-dialog-container {
  position: relative;
  height: auto;
  min-width: min(600px, 100vw);
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  border-radius: 8px;
  background-color: var(--ev-colors-primary);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 1);
  color: var(--ev-colors-text);

  & .base-dialog-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .base-dialog-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 0 10px;

    & .base-dialog-title {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      font-weight: 600;

      & .title-icon {
        background-color: var(--ev-colors-background);
        padding: 5px;
        border-radius: 8px;

        & > svg {
          color: var(--ev-colors-highlight);
          height: 32px;
          width: 32px;
        }
      }
    }

    & .base-dialog-subtitle {
      grid-column: 1 / span 2;
      font-size: 14px;
      color: var(--ev-colors-tertiaryText);
    }
  }

  & .details-scroller {
    padding: 0 5px;
    overflow: visible;
  }

  & .details-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0;
  }

  & .controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    & .base-dialog-button {
      flex-grow: 1;
      min-width: 150px;
      justify-content: center;
      padding: 10px;
      border: 1px solid var(--ev-colors-borderColor);
      background-color: var(--ev-colors-primary);
      font-size: 14px;
      font-weight: 600;

      &.submit {
        background-color: var(--ev-colors-highlight);
      }
    }
  }
}
