@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgba(23, 23, 23, 1);
  --background-start-rgb: rgba(247, 246, 241, 1);
  --background-end-rgb: rgba(247, 246, 241, 1);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
