


.condensed-list-row-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--ev-colors-borderColor);
    border-top: none;
    padding: 10px;

    font-size: 12px;
    font-weight: 500;
    color: var(--ev-colors-text);

    &.selected {
        background-color: var(--ev-colors-primary);
        & .models-list-row-cell {
            &.name {                
                background-color: var(--ev-colors-primary);
                &:hover {
                    background-color: var(--ev-colors-background);
                }
            }
        }
    }
    &:last-child {
        border-radius: 0 0 8px 8px;
    }

    & .condensed-line {
        display: flex;
        align-items: center;
        gap: 10px;

        &.dark {
            color: var(--ev-colors-secondaryText);
        }

        & .condensed-across {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }
    }


    & .models-list-row-cell {
        &.name {
            padding: 2px 10px;
            border-radius: 8px;
            background-color: var(--ev-colors-background);
            transition: filter 200ms ease-in-out, background-color 200ms ease-in-out;
            &:hover {
                transition: none;
                background-color: var(--ev-colors-primary);
                color: var(--ev-colors-highlight);
            }
        }
    }

}