

.models-list-row-container {
    display: contents;

    font-size: 12px;
    font-weight: 500;
    color: var(--ev-colors-text);

    &.header {
        font-size: 14px;
        font-weight: 600;
        color: var(--ev-colors-secondaryText);

        & > .models-list-row-cell {
            background-color: var(--ev-colors-primary);
            position: sticky;
            top: 0;
            z-index: 10;
        }
    }

    &:last-child {
        & > .models-list-row-cell:first-child { border-bottom-left-radius: 8px; }
        & > .models-list-row-cell:last-child { border-bottom-right-radius: 8px; }
    }

    & .models-list-row-cell {
        min-height: 40px;
        padding: 5px 5px 5px 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-top: 1px solid var(--ev-colors-borderColor);
        border-bottom: 1px solid var(--ev-colors-borderColor);
        
        &:disabled {opacity: 1;}

        &:first-child {
            &:not(.menu) { padding-left: 20px; }
            border-left: 1px solid var(--ev-colors-borderColor);
        }
        &:last-child {
            padding-right: 20px;
            border-right: 1px solid var(--ev-colors-borderColor);
        }

        &.left { justify-content: flex-start; }
        &.right { justify-content: flex-end; }
        &.center { justify-content: center; padding-left: 5px; }

        &.block { 
            background-color: var(--ev-colors-primary);
            border: 1px solid var(--ev-colors-borderColor);
        }


        & .sort-container {
            display: flex;
            flex-direction: column;
            gap: 2px;

            &.asc > svg:first-child { opacity: 0; }
            &.desc > svg:last-child { opacity: 0; }

            & > svg {
                height: 4px;
                width: 8px;

                &:first-child { transform: rotate(180deg); }
            }
        }

        // &.node {
        //     justify-content: center;
        //     background-color: var(--ev-colors-primary);
        //     border-left: 1px solid var(--ev-colors-borderColor);
            
        //     &.ram {
        //         border-right: 1px solid var(--ev-colors-borderColor);
        //     }
        // }

        &.id { color: var(--ev-colors-secondaryText); }

        &.name:not(.header) {
            background-color: var(--ev-colors-background);
            transition: filter 200ms ease-in-out, background-color 200ms ease-in-out;
            &:hover {
                transition: none;
                background-color: var(--ev-colors-primary);
                color: var(--ev-colors-highlight);
            }
        }

        &.tags {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            color: var(--ev-colors-secondaryText);
        }

    }

    & .tag {
        padding: 0 10px;
        background-color: var(--ev-colors-primary);
        border: 1px solid var(--ev-colors-tagBorder);
        border-radius: 12px;
    }
}



.status-cell {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
    position: relative;
    user-select: none;

    & > svg {
        height: 14px;
        width: 14px;
    }

    &.registered { & > svg { color: var(--ev-colors-success); } }
    &.registering { & > svg { color: var(--ev-colors-highlight); } }
    &.failed { & > svg { color: var(--ev-colors-danger); } }
    &.deployed {
        background-color: var(--ev-colors-secondary);
        border-radius: 4px;

        & > svg { color: var(--ev-colors-success); }
    }

    & > div { color: var(--ev-colors-secondaryText); }

    & .toast-container {
        position: absolute;
        bottom: 110%;
        z-index: 50;
        background-color: var(--ev-colors-primary);
        border: 1px solid var(--ev-colors-borderColor);
        border-radius: 4px;
        padding: 2px 5px;
        pointer-events: none;
        animation: 1s ease 2s normal 1 forwards fadeOut;
        
        font-size: 12px;
        color: var(--ev-colors-text);

        &.left { right: 0; }
        & > span { white-space: nowrap; }
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
