


.contracts-list-container {    
    display: flex;
    flex-direction: column;
    background-color: var(--ev-colors-backgroundHighContrast);
    border: 1px solid var(--ev-colors-borderColor);
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    overflow: hidden;



    & .cross-match-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding: 0 10px 20px;

        &.concealed {
            opacity: 0;
        }

        & .cross-match-bit-container {
            display: flex;
            // flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            gap: 20px;
            padding: 10px 10px;
            border: 1px solid var(--ev-colors-borderColor);
            border-radius: 4px;

            &.success .cross-bit-value { color: var(--ev-colors-success); }

            & .cross-bit-value {
                line-height: 40px;
                font-size: 32px;
                font-weight: 600;
                color: var(--ev-colors-danger);
            }
            & .cross-bit-label {
                font-size: 12px;
                color: var(--ev-colors-text);
            }
        }
    }


    & .tabs-container {
        display: flex;
        align-items: center;
        margin: 0 10px;
        border-bottom: 1px solid var(--ev-colors-borderColor);

        & > button.tab-button {
            padding: 10px 20px;
            margin-bottom: -1px;
            border-bottom: 2px solid transparent;
            border-radius: 0;
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
            color: var(--ev-colors-secondaryText);

            &.active {
                color: var(--ev-colors-highlight);
                border-bottom-color: var(--ev-colors-highlight);
            }
        }
    }





    & .contracts-list-table-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .no-project {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 100px;
            text-align: center;
            color: var(--ev-colors-secondaryText);
            font-size: 16px;

            & > span:first-child {
                font-size: 18px;
            }
        }


        & .table-controls-container {
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 10px;

            & .tags-container {
                display: flex;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                max-height: 70px;
                overflow-y: auto;
                @include scrollbar();

                & .filter-tag {
                    border: 1px solid var(--ev-colors-borderColor);
                    border-radius: 20px;
                    padding: 5px 10px;
                    background-color: var(--ev-colors-backgroundHighContrast);

                    &:hover {
                        background-color: var(--ev-colors-background);
                    }


                    &.active {
                        background-color: var(--ev-colors-highlight);
                        color: var(--ev-colors-text);
                    }
                }
            }

            & .controls-container {
                display: flex;
                align-items: center;
                gap: 10px;


                & .upload-button {
                    color: var(--ev-colors-highlight);
                    background-color: var(--ev-colors-primary);
                    border-radius: 4px;
                }
            }

        }


        & .contracts-list-table-contents {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 80px minmax(160px, 2fr) minmax(150px, 1fr) 100px minmax(150px, 2fr) 50px 65px;
            grid-auto-rows: min-content;
            align-content: flex-start;
            gap: 0;
            
            overflow-y: auto;
            @include scrollbar();

            &.invoice {
                grid-template-columns: 80px minmax(160px, 2fr) minmax(150px, 1fr) 100px minmax(150px, 2fr) minmax(100px, 1fr) 50px 65px;
            }
            &.vsow {
                grid-template-columns: 80px minmax(160px, 2fr) minmax(150px, 1fr) 100px minmax(150px, 2fr) 50px 50px 65px;
            }
    
            & .table-span {
                border: 1px solid var(--ev-colors-borderColor);
                border-top: none;
                border-radius: 0 0 8px 8px;
                padding: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
        
                & > svg {
                    height: 20px;
                    width: 20px;
                }
            }
    
            & .empty {
                grid-column: 1 / -1;
                color: var(--ev-colors-secondaryText);
                font-size: 14px;
            }

            & .list-row-container.header .list-row-cell.header {
                &:first-child {
                    border-top-left-radius: 8px;
                }
                &:last-child {
                    border-top-right-radius: 8px;
                }
            }


            & .list-row-cell.tags {
                & .tag {
                    background-color: var(--ev-colors-primary);
                    border-radius: 16px;
                    padding: 2px 10px;
                }
            }

            & .contract-name {
                word-break: break-all;
            }

            
            & .contract-status {
                &.completed { color: var(--ev-colors-success); }
                &.approved { color: var(--ev-colors-success); }
                &.processing { color: var(--ev-colors-highlight); }
                &.failed { color: var(--ev-colors-danger); }
                &.rejected { color: var(--ev-colors-danger); }
            }
            & .contract-approval {
                &.pending {
                    color: var(--ev-colors-highlight);
                }
            }

            & .verified { color: var(--ev-colors-success); }
            & .not-verified { color: var(--ev-colors-danger); }
        }
        
    }



}