



.contract-upload-container {
    min-height: 50vh;
    max-height: 90vh;
    min-width: 600px;
    max-width: 90vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 8px;
    background-color: var(--ev-colors-primary);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 1);
    color: var(--ev-colors-text);


    & .contract-upload-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;


        & .contract-upload-title {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }


    & .top-row {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }


    & .common-select {
        flex-shrink: 0;
        background-color: var(--ev-colors-background);
        border-radius: 8px;
        padding: 5px 10px;

        & .common-select-display {
            flex-grow: 1;
            & > svg {
                color: var(--ev-colors-highlight);
            }
        }
    }

    & .drag-field {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--ev-colors-background);
        border-radius: 8px;
        padding: 20px 0;

        & .upload-controls {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            & .upload-icon {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--ev-colors-text);
                border-radius: 50%;

                & > svg {
                    color: var(--ev-colors-primary);
                }
            }

            & input[type="file"].hidden-input {
                display: none;
            }

            & .upload-button {
                color: var(--ev-colors-highlight);
                background-color: var(--ev-colors-background);
            }

            & > span {
                font-size: 12px;
            }
        }
    }

    & .submit-controls {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        & .submit-file-name {
            flex-grow: 1;
            max-width: 450px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: default;
        }

        & .submit-button {
            flex-shrink: 0;
            padding: 10px 20px;
            background-color: var(--ev-colors-highlight);
        }
    }

}