

.models-details-performance-tab-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    & .no-evaluations {
        margin: 30px 20px;
        color: var(--ev-colors-secondaryText);
    }



    & .model-evaluation-block-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        border-radius: 8px;
        background-color: var(--ev-colors-primary);
        


        & .evaluation-header {
            display: flex;
            align-items: center;
            gap: 20px;

            & .icon {
                height: 100%;
                aspect-ratio: 1/1;
                padding: 7px;
                & > svg {
                    height: 100%;
                    width: 100%;
                }
                & .red { color: var(--ev-colors-danger); }
                & .orange { color: var(--ev-colors-highlight); }
                & .green { color: var(--ev-colors-success); }
            }

            & .evaluation-header-contents {
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                & .header-row {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    &.top {
                        font-size: 14px;
                        color: var(--ev-colors-text);
                    }
                    &.bottom {
                        font-size: 12px;
                        color: var(--ev-colors-secondaryText);
                    }

                    & .user-container {
                        flex-grow: 1;
                        text-align: end;
                        font-size: 12px;
                        font-weight: 500;
                        color: var(--ev-colors-secondaryText);
                    }
                }
            }
        }

        & .evaluation-contents {
            display: grid;
            grid-template-columns: minmax(100px, 250px) 1fr;
            gap: 5px;
            padding: 5px 10px;
            background-color: var(--ev-colors-backgroundHighContrast);
            border-radius: 4px;
            font-size: 14px;

            & .evaluation-message {
                grid-column: 1 / span 2;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 10px;
                color: var(--ev-colors-secondaryText);
            }

            & .label {
                font-weight: 500;
                color: var(--ev-colors-secondaryText);
            }
            & .value {
                font-weight: 400;
                color: var(--ev-colors-text);
            }
        }
    }
}