

.users-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;


    & .users-list-table-container {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 30px 2fr 2fr 2fr minmax(200px, 10fr);
        grid-auto-rows: min-content;
        align-content: flex-start;
        
        overflow-y: auto;
        @include scrollbar();

        & .table-span {
            border: 1px solid var(--ev-colors-borderColor);
            border-top: none;
            border-radius: 0 0 8px 8px;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
    
            & > svg {
                height: 20px;
                width: 20px;
            }
        }

        & .empty {
            grid-column: 1 / -1;
            color: var(--ev-colors-secondaryText);
        }
    }

}