OPENAI_API_KEY=
GEMINI_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BEDROCK_REGION="us-east-1"
ONPREM_GET_MODELS_ENDPOINT="https://elevaite-prodmodelapi.iopex.ai/elevaite/endpoints"
ONPREM_BASE_MODEL_URL="https://elevaite-prodmodelapi.iopex.ai"
ONPREM_USER=
ONPREM_SECRET=