@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 48px;
  --navbar-height: 52px;
  font-family: Inter;
}

body {
  --ev-colors-primary: #282828;
  --ev-colors-secondary: #424242;
  --ev-colors-tertiary: #4e332a;
  --ev-colors-highlight: #e75f33;
  --ev-colors-text: #ffffff;
  --ev-colors-secondaryText: #808080;
  --ev-colors-tertiaryText: #a3a3a3;
  --ev-colors-borderColor: #ffffff1f;
  --ev-colors-background: #161616;
  --ev-colors-success: #d8fc77;
  --ev-colors-danger: #dc143c;
}
