.insight-card{
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

    .insight-content {
        display: flex;
        align-items: flex-start;
        gap: 12px;
    }

    .insight-icon {
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 35px;
        color: #ff6600;
    }

    .insight-details {
        flex: 1;

        h4{
            font-size: 22px;
            font-weight: 400;
            color: #333;
            margin: 0;
        }

        h2 {
            font-size:28px;
            margin: 8px 0;
            font-weight: 600;
            color: #222;
        }

        p {
            font-size: 16px;
            color: #666;
            margin: 0;
            margin-top: 10px;
        }
    }
}