.chatbot-advanced-container {
  margin: -20px;
  overflow: hidden;

  background-color: var(--ev-colors-backgroundHighContrast);
  color: var(--ev-colors-text);

  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;

  &.sidebar-expanded {
    grid-template-columns: 300px 1fr;
    transition: 0.3s ease-in-out;
  }

  & .sidebar-area {
    grid-area: sidebar;
  }

  & .tabs-area {
    grid-area: tabs;
  }
}
