fastapi
uvicorn
pydantic
qdrant-client==1.12.2
reportlab
openai
python-dotenv
requests
redis
sentence_transformers
sqlalchemy
psycopg2-binary
boto3
google-genai
google-cloud-aiplatform
google-auth
google-api-python-client
pillow