

.list-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    background-color: var(--ev-colors-primary);
    border: 1px solid var(--ev-colors-borderColor);
    border-bottom: 2px solid var(--ev-colors-secondaryText);
    border-radius: 8px 8px 0 0;

    & .header-label {
        font-size: 14px;
    }

    & .header-controls {
        display: flex;
        align-items: center;
        gap: 10px;

        & .search-container {
            display: flex;
            align-items: center;
            transition: gap 200ms ease-in-out;

            &.absolute-search {
                position: relative;
                margin: 2.5px 0;

                & .search-input-container {
                    position: absolute;
                    right: 100%;
                    background-color: var(--ev-colors-primary);
                }
                &.open {
                    & .search-input-container { width: 210px; }
                }
            }

            &.open {
                & .search-input-container { width: 250px; }
                & .search-button {
                    margin-left: 10px;
                }
            }

            & .search-button {
                margin: 0 10px 0 0;
                opacity: 1;
                transition: all 200ms ease-in-out;
            }

            & .search-input-container {
                overflow: clip;
                width: 0;
                transition: width 200ms ease-in-out;
                & input::placeholder {
                    color: var(--ev-colors-secondaryText);
                    opacity: 0.5;
                }
            }
            & svg {
                color: var(--ev-colors-secondaryText);
                height: 15px;
                width: 15px;
            }
        }

        & .add-button {
            font-size: 12px;
            padding: 0 5px;
            border-radius: 4px;
            color: var(--ev-colors-backgroundHighContrast);
            background-color: var(--ev-colors-highlight);

            & > svg.add-padding {
                padding: 2px;
            }
        }
    }
}