


.app-instances-container {
    height: 100%;
    background-color: var(--ev-colors-primary);
    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;


    & .app-flow-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        & .flow-title {
            font-size: 14px;
        }

        & .flow-type {
            font-size: 14px;
            font-weight: 600;

            & button {                
                padding-left: 10px;
                padding-right: 10px;
                white-space: nowrap;
                color: var(--ev-colors-secondaryText);
                &:hover {                    
                    color: var(--ev-colors-highlight);
                }
            }
            & > button {
                color: var(--ev-colors-highlight);
                border: 1px solid var(--ev-colors-borderColor);
                min-width: 150px;
            }
        }
    }



    & .app-instances-header {
        display: flex;
        align-items: center;
        gap: 16px;

        & .app-instances-title {
            font-size: 14px;
            font-weight: 600;
        }

        & .app-instances-type {
            font-size: 12px;
        }

        & .add-instance {
            margin-left: auto;
            justify-content: center;
            padding: 4px 8px;
            border-radius: 8px;
            background-color: var(--ev-colors-highlight);
            color: var(--ev-colors-primary);
            font-size: 12px;
            font-weight: 600;
        }
    }

    & .app-instances-scroller {
        // margin-top: 20px;
        flex-grow: 1;
        overflow-y: scroll;
        @include scrollbar();
        margin-right: -15px;
        padding-right: 15px;
    }

    & .app-instances-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .loading-container {
            min-height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > svg {
                height: 40px;
                width: 40px;
                @include rotate();
            }
        }

        & .list-message {
            display: flex;
            justify-content: center;
            font-size: 16px;
            color: var(--ev-colors-secondaryText);
        }
    }

}



.app-instance {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    border-radius: 4px;
    position: relative;

    &.hidden {
        display: none;
    }
    &.selected {
        background-color: var(--ev-colors-borderColor);
    }

    & .app-instance-main-button {
        flex-grow: 1;
        padding: 0 5px;
        border-radius: 4px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
    }


    & .app-instance-icon {
        height: 16px;
        width: 16px;
        &.starting { color: var(--ev-colors-secondaryText) }
        &.ongoing { color: var(--ev-colors-highlight) }
        &.completed { color: var(--ev-colors-success) }
        &.failed { color: var(--ev-colors-danger) }
    }

    & .app-instance-label {
        flex-grow: 1;
        text-align: start;
        word-break: break-word;
    }

    & .app-instance-elapsed-time {
        flex-shrink: 0;
        text-align: end;
        font-variant-numeric: tabular-nums;
    }

    & .app-instance-menu-button {
        flex-shrink: 0;
        & > button {
            border-radius: 4px;
        }
    }




    & .app-instance-menu-container {
        position: absolute;
        top: 100%; right: 0;
        z-index: 40;
        color: var(--ev-colors-tertiaryText);
        background-color: var(--ev-colors-primary);
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        padding: 2px 10px;

        & > button {
            padding: 2px 10px;
        }

        pointer-events: none;
        opacity: 0;
        transition: opacity 200ms ease-in-out;

        &.open {
            pointer-events: all;
            opacity: 1;
        }
    }
}