

$general-space: 16px;


.application-details-container {
    background-color: var(--ev-colors-primary);
    padding: $general-space;
    border-radius: 8px;

    & .details-content {
        display: flex;
        align-items: center;
        gap: $general-space;


        & .details-text-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            & .skeleton {
                position: relative;
                &.top {
                    @include skeleton($backgroundColor: var(--ev-colors-secondaryText), $width: 25%);
                }
                &.bottom {
                    @include skeleton($backgroundColor: var(--ev-colors-borderColor), $width: 50%);
                }
            }

            & .details-text-top {
                display: flex;
                align-items: center;
                gap: $general-space;

                & .details-name {
                    font-size: 18px;
                    font-weight: 600;
                }

                & .details-version {
                    font-size: 12px;
                    opacity: 0.3;
                }

                & .details-origin {
                    margin-left: auto;
                    padding: 4px 12px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    border-radius: 80px;
                    font-size: 12px;
                    color: var(--ev-colors-highlight);
                    background: var(--ev-colors-tertiary);
                    flex-shrink: 0;
                }
            }

            & .details-text-bottom {
                font-size: 14px;
                color: var(--ev-colors-textSecondary);
                opacity: 0.5;
            }
        }
    }
}



