


.contracts-main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

    color: var(--ev-colors-text);
    background-color: var(--ev-colors-background);


    & .contracts-content {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        opacity: 0;
        z-index: -50;
        pointer-events: none;

        &.active {
            opacity: 1;
            z-index: 0;
            pointer-events: all;
        }
    }

}