


.cost-sidebar-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

    font-size: 14px;
    transition: padding 200ms ease-in-out;

    & .parameters-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 15px 20px;

        background-color: var(--ev-colors-primary);
        border-radius: 8px;

        & .parameter-item {
            gap: 5px;

            & .common-select-display {
                flex-grow: 1;
                padding: 5px 10px;
                background-color: var(--ev-colors-background);
                border: 1px solid var(--ev-colors-borderColor);
            }
            & .common-select-options-contents {
                max-height: 50vh;
            }
            & .simple-input-container {     
                padding: 5px 10px;           
                background-color: var(--ev-colors-background);
                border-radius: 8px;
            }
        }

        & .month-picker-wrapper {

            & .month-picker-button {
                width: 100%;
                padding: 5px 10px;
                justify-content: space-between;
                background-color: var(--ev-colors-background);
                & > svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }


    & .filters-container {
        overflow: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 15px 20px;

        background-color: var(--ev-colors-primary);
        border-radius: 8px;


        & .header-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .clear-all-info {
                font-size: 12px;
                color: var(--ev-colors-secondaryText);
                user-select: none;
            }

            & .clear-all-button {
                padding: 0 5px;
                font-size: 12px;
                color: var(--ev-colors-highlight);
            }
        }


        & .filters-scroller {
            margin-right: -5px;
            padding-right: 5px;
            overflow: auto;
            @include scrollbar();
        }

        & .filters-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    
}




.sidebar-filter-group-container {

    &.open {
        & .sidebar-filter-group-chevron {
            transform: rotate(-180deg);
        }
        & .sidebar-filter-list-accordion-container {            
            grid-template-rows: 1fr;
        }
    }


    & .sidebar-filter-group-header {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-right: 5px;

        background-color: var(--ev-colors-background);
        border-radius: 8px;
        color: var(--ev-colors-tertiaryText);

        & .sidebar-filter-group-chevron {
            transition: transform 200ms ease-in-out;
        }
        & .sidebar-filter-clear {
            font-size: 10px;
            color: var(--ev-colors-highlight);
        }
        & .sidebar-filter-header-title { flex-grow: 1; user-select: none; }
        & button { flex-shrink: 0; }
    }

    & .sidebar-filter-list-accordion-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr;
        transition: grid-template-rows 150ms ease-in-out;

        & .sidebar-filter-list-accordion {
            overflow: hidden;
        }
    }

    & .sidebar-filter-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 5px 0;

        & .sidebar-filter-button {
            padding: 0 10px;
            border-radius: 8px;
            color: var(--ev-colors-tertiaryText);
            background-color: var(--ev-colors-primary);

            &:not(.active):hover {
                color: var(--ev-colors-highlight);
            }

            &.active {
                color: var(--ev-colors-text);
                background-color: var(--ev-colors-highlight);
            }
        }
    }

}