

.cost-list-row-container {
    display: contents;

    font-size: 12px;
    font-weight: 500;
    color: var(--ev-colors-text);

    &.header {
        font-size: 14px;
        font-weight: 600;
        color: var(--ev-colors-secondaryText);

        & > .cost-list-row-cell {
            background-color: var(--ev-colors-primary);
            position: sticky;
            top: 0;
            z-index: 10;
        }

        & .header-title {
            display: flex;
            flex-direction: column;

            & .subtitle {
                font-size: 10px;
            }
        }
    }

    &:last-child {
        & > .cost-list-row-cell:first-child { border-bottom-left-radius: 8px; }
        & > .cost-list-row-cell:last-child { border-bottom-right-radius: 8px; }
    }

    & .cost-list-row-cell {
        min-height: 40px;
        padding: 5px 5px 5px 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        border-top: 1px solid var(--ev-colors-borderColor);
        border-bottom: 1px solid var(--ev-colors-borderColor);
        
        &:disabled {opacity: 1;}

        &:first-child {
            &:not(.menu) { padding-left: 20px; }
            border-left: 1px solid var(--ev-colors-borderColor);
        }
        &:last-child {
            padding-right: 20px;
            border-right: 1px solid var(--ev-colors-borderColor);
        }

        &.left { justify-content: flex-start; }
        &.right { justify-content: flex-end; }
        &.center { justify-content: center; padding-left: 5px; }

        &.block { 
            background-color: var(--ev-colors-primary);
            border: 1px solid var(--ev-colors-borderColor);
        }

        &.ellipses > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }


        & .sort-container {
            display: flex;
            flex-direction: column;
            gap: 2px;

            &.asc > svg:first-child { opacity: 0; }
            &.desc > svg:last-child { opacity: 0; }

            & > svg {
                height: 4px;
                width: 8px;

                &:first-child { transform: rotate(180deg); }
            }
        }

        &.id { color: var(--ev-colors-secondaryText); }

        &.name:not(.header) {
            background-color: var(--ev-colors-background);
            transition: filter 200ms ease-in-out, background-color 200ms ease-in-out;
            &:hover {
                transition: none;
                background-color: var(--ev-colors-primary);
                color: var(--ev-colors-highlight);
            }
        }

        &.tags {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            color: var(--ev-colors-secondaryText);
        }

    }

    & .tag {
        margin: auto;
        padding: 0 10px;
        background-color: var(--ev-colors-primary);
        border: 1px solid var(--ev-colors-tagBorder);
        border-radius: 12px;
    }

    & .model-content {
        display: flex;
        align-items: center;
        gap: 5px;

        & .model-color-container {
            flex-shrink: 0;
            height: 10px;
            width: 10px;
        }

        & span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}


