.roles-list-container {
  display: flex;
  height: 100%;

  & .swinging-header-label {
    display: flex;
    align-items: center;

    &.visible > .swinging-button {
      width: 20px;
      margin-right: 10px;
      padding: 3px;
    }

    & > .swinging-button {
      height: 20px;
      width: 0;
      padding: 0;
      margin-right: 0;
      overflow: hidden;
      transition:
        width 200ms ease-in-out,
        margin-right 200ms ease-in-out;
    }

    & > span {
      white-space: nowrap;
      text-overflow: hidden;
    }

    &.icon-left > .swinging-button > svg {
      transform: rotate(180deg);
    }
  }

  & .roles-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 0;
    margin-right: 0;
    transition:
      width 200ms ease-in-out,
      margin-right 200ms ease-in-out;
    overflow: clip;

    & > .list-header-container {
      padding: 5px 0;
    }

    &.open {
      width: 280px;
      margin-right: 10px;

      & > .list-header-container {
        padding: 5px 10px;
      }
    }

    & .roles-sidebar-scroller {
      display: flex;
      flex-direction: column;
      gap: 10px;

      border: 1px solid var(--ev-colors-borderColor);
      border-top: none;
      border-radius: 0 0 8px 8px;
      padding: 10px;

      overflow: auto;
      @include scrollbar();

      & .empty {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--ev-colors-secondaryText);

        & svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  & .roles-main-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & .roles-list-table-container {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 30px 1fr 3fr 1fr 1fr 1fr 1fr;
      grid-auto-rows: min-content;
      align-content: flex-start;

      overflow-y: auto;
      @include scrollbar();

      & .table-span {
        border: 1px solid var(--ev-colors-borderColor);
        border-top: none;
        border-radius: 0 0 8px 8px;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & > svg {
          height: 20px;
          width: 20px;
        }
      }

      & .empty {
        grid-column: 1 / -1;
        color: var(--ev-colors-secondaryText);
      }
    }
  }
}
