

div.breadcrumbs {
  display: flex;
  align-items: center;

  border-left: 1px solid var(--ev-colors-uiBorder);
  padding-left: 10px;

  

  & .breadcrumbItem {
    height: auto;
    color: var(--ev-colors-uiText);
    font-size: 16px;
    font-weight: 500;
    user-select: none;

    &.no-link {
      cursor: default;
    }
  }

  & .separator {
    align-self: stretch;
    margin: 0 0.5rem;
    border-left: 1px solid var(--ev-colors-uiText);
  }
}
