

.case-summary-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--ev-colors-background);
    border: 1px solid var(--ev-colors-borderColor);
    border-radius: 8px;


    & .case-summary-tabs {
        display: flex;
        padding: 10px 20px;
        gap: 20px;
        border-bottom: 1px solid var(--ev-colors-borderColor);


        & .tab {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: -10px;
            padding-bottom: 12px;
            border-bottom: 2px solid transparent;
            color: var(--ev-colors-secondaryText);

            &.active {
                color: var(--ev-colors-highlight);
                border-bottom-color: var(--ev-colors-highlight);
                border-radius: 0;
            }
        }
    }



    & .case-summary-main-container {
        flex-grow: 1;
        padding: 20px;
        overflow-y: auto;
        @include scrollbar();

        font-size: 13px;
    }

}