

.case-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    background-color: var(--ev-colors-background);
    border: 1px solid var(--ev-colors-borderColor);
    border-radius: 8px;


    & .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 600;
    }

    & .details-scroller {
        overflow-x: auto;
        @include scrollbar();
    }

    & .details-contents {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 5px;

        & .detail {
            padding: 5px 20px;
            background-color: var(--ev-colors-backgroundHighContrast);
            border-radius: 8px;
            white-space: nowrap;

            font-family: 'Source Code Pro', monospace;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
