

.co-pilot-start-container {
    width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &.wide {
        width: auto;
    }

    & .info {
        padding: 20% 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        & > span {
            font-size: 12px;
            font-weight: 400;
            color: var(--ev-colors-secondaryText);

            &.query {
                font-size: 18px;
                font-weight: 600;
                color: var(--ev-colors-text);
            }
        }
    }


    & .common-prompts-container {
        display: flex;
        align-items: center;
        gap: 10px;

        & .common-prompt-button {
            height: 100px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 0 10px;
            background-color: var(--ev-colors-background);
            border: 1px solid var(--ev-colors-borderColor);
            transition: all 200ms ease-in-out;
            border-radius: 12px;

            &:hover {
                border-color: var(--ev-colors-highlight);
            }


            & > span {
                font-size: 10px;
                font-weight: 400;
                color: var(--ev-colors-secondaryText);

                &.prompt {
                    font-size: 12px;
                    font-weight: 700;
                    color: var(--ev-colors-highlight);
                }
            }
        }
    }


    & .input-container {
        width: 100%;
        & .chatbot-input-field {
            background-color: var(--ev-colors-backgroundHighContrast);
        }
    }

    & .added-controls-container {
        display: flex;
        justify-content: space-evenly;
        gap: 1rem;

        & .added-control {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr auto;
            gap: 0 2rem;
            padding: 1rem;
            border: 1px solid var(--ev-colors-borderColor);
            border-radius: 8px;

            & > span {
                text-align: start;
                font-size: 14px;
                color: var(--ev-colors-secondaryText);

                &:first-child { font-weight: bold; }
            }

            & > svg {
                grid-column: 2;
                grid-row: 1 / span 2;
            }
        }
    }
}