

.main-area-switcher-container {
    grid-area: main;
    padding: 20px;
    display: grid;
    gap: 20px;
    min-width: 0;
    min-height: 0;

    & > div { min-height: 0; min-width: 0; }


    // AREAS

    &.co-pilot {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 2fr 5fr;
        grid-template-areas: 
            "tabs tabs"
            "contact co"
            "recents co";
        & .contact-details { min-height: auto; }
        
    }

    //&.active-case {
    //    grid-template-columns: 1fr 2fr;
    //    grid-template-rows: auto auto 1fr auto;
    //    grid-template-areas:
    //        "tabs tabs"
    //        "contact chat"
    //        "recents chat"
    //        "recents input";
    //}

    &.active-case {
        grid-template-rows: 1fr auto;
        grid-template-areas:
            //"tabs"
            "chat"
            //"chat"
            "input";
    }

    &.closed-case {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "tabs tabs"
            "case chat"
            "summary chat"
            "summary input";
    }

    &.dashboard {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "chat feedback";
    }

    &.discover {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "title title"
            "discover chat"
            "discover input";
        & .title { font-size: 24px; font-weight: 500; font-family: DM San, sans-serif; }
    }

    &.toshiba1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: var(--ev-colors-primary); /* Add this to make main area match original sidebar color */

        // &.sidebar-collapsed{
        //     margin-left: 250px;
        //     width: calc(100% - 250px);
        // }
    }

    &.toshiba2 {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "tabs tabs"
            "case chat"
            "summary chat"
            "summary input";
    }


    // COMPONENT HOLDERS

    & .tabs { grid-area: tabs; margin: -10px -20px; }
    & .contact-details { grid-area: contact; }
    & .chat { grid-area: chat; }
    & .chat-input { grid-area: input; }
    & .chat-feedback { grid-area: feedback; }
    & .recents { grid-area: recents; }
    & .case-details { grid-area: case; }
    & .co-pilot { grid-area: co; }
    & .summary { grid-area: summary; }
    & .discover { grid-area: discover; }
    & .title { grid-area: title; }

    .batch-evaluation-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .batch-evaluation-button {
        background-color: var(--ev-colors-primary);
        color: white;
        padding: 10px 16px;
        border-radius: 6px;
        font-weight: 500;
        transition: all 0.2s ease;

        &:hover {
            background-color: darken(gray, 10%);
        }
    }
}


}


