


.tabs-container {
    height: 50px;

    overflow-x: auto;
    overflow-y: hidden;
    @include scrollbar();

    & .tabs-underline {
        display: flex;
        align-items: flex-end;
        padding: 5px 10px 0;
        border-bottom: 1px solid var(--ev-colors-borderColor);
    }
}






.tab-container {
    margin-bottom: -1px;
    height: 40px;
    min-width: 0;
    flex: 0 0 180px;
    display: grid;
    grid-template-columns: 10px 1fr 20px;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0;
    color: var(--ev-colors-secondaryText);
    user-select: none;

    &.selected {
        color: var(--ev-colors-text);
        border-color: var(--ev-colors-borderColor) var(--ev-colors-borderColor) var(--ev-colors-backgroundHighContrast) var(--ev-colors-borderColor);
    }
    &:not(.selected):hover {
        background-color: var(--ev-colors-background);
    }
    

    & .tab-label {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }

    & .close {
        &:hover {background-color: var(--ev-colors-background); }
        & svg {
            height: 8px;
            width: 8px;
        }
    }

    & .alert {
        & .green {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: var(--ev-colors-success);
        }
    }
}