@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 48px;
  --navbar-height: 52px;
  font-family: Inter;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 22, 22, 22;
    --background-end-rgb: 22, 22, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */
