



.extracted-table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;

    & .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .label {
            font-size: 14px;
            font-weight: 700;            
        }

        & button > svg {
            height: 18px;
            width: 18px;
        }
    }

    & .table-scroller {
        width: 100%;
        max-height: 400px;
        overflow: auto;
        overscroll-behavior: auto;
        @include scrollbar();

        padding: 10px;
        background-color: var(--ev-colors-background);
        border: 1px solid var(--ev-colors-borderColor);
        border-radius: 8px;
    }
    
}


.full-screen-extracted-table-modal {

    & table.extracted-table td .simple-input-container > input {
        max-width: 500px;
    }

    & .close-button-area {
        display: flex;
        justify-content: flex-end;
        padding: 0 10px 10px;
    }

    & .table-scroller {
        max-height: calc(100vh - 74px);
        max-width: calc(100vw - 40px);
        overflow: auto;
        overscroll-behavior: auto;
        @include scrollbar();

        padding: 10px;
        background-color: var(--ev-colors-background);
        border: 1px solid var(--ev-colors-borderColor);
        border-radius: 8px;
    }
}


table.extracted-table {
    border-collapse: collapse;
    width: 100%;

    & th {
        padding: 5px 10px;
        background-color: var(--ev-colors-backgroundHighContrast);
        border: 1px solid var(--ev-colors-background);
        text-align: left;
        position: sticky;
        top: -11px;
        z-index: 10;
        &:first-child { border-top-left-radius: 8px; }
        &:last-child { border-top-right-radius: 8px; }
    }

    & tr:last-child {
        & td:first-child { border-bottom-left-radius: 8px; }
        & td:last-child { border-bottom-right-radius: 8px; }
    }

    & td {
        padding: 5px 10px;
        background-color: var(--ev-colors-primary);
        border: 1px solid var(--ev-colors-background);

        & .simple-input-container {
            border: 1px solid transparent;
            width: fit-content;
            &:focus-within {
                background-color: var(--ev-colors-background);
                border: 1px solid var(--ev-colors-highlight);
            }

            & > input {
                field-sizing: content;
                max-width: 250px;
            }
        }
    }
}