.searchResultContainer {
  position: fixed;
  display: flex;
  width: inherit;
  height: fit-content;
  /* padding: 10px 0; */
  flex-direction: column;
  align-items: center;
  /* gap: 4px; */
  border-radius: 8px;
  border: 1px solid;
  background: #f1f5f9;
  z-index: 100;
}

.searchResult {
  display: flex;
  width: 100%;
  padding: 5px 12px;
  align-items: flex-start;
  gap: 22px;
  flex: 1 0 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.searchResult:first-of-type {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.searchResult:last-of-type {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
