

.searchbar-container {
  flex-grow: 1;

  & .searchbar {
    display: flex;
    height: 32px;
    padding: 0 16px;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid var(--ev-colors-uiBorder);
    background-color: var(--ev-colors-uiBackground);
    min-width: 400px;

    & input {
      background-color: var(--ev-colors-uiBackground);
      flex: 1 0 auto;
      outline: none;
    }

    & svg { flex-shrink: 0; }

    & .hotkey-hint {
      flex-shrink: 0;
      opacity: 0.5;
    }

    & input:focus + .hotkey-hint {
      display: none;
    }
    & input:not(:placeholder-shown) + .hotkey-hint {
      display: none;
    }
  }


}

