

.pdf-and-extraction-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(calc(50% - 10px), 1fr) minmax(calc(50% - 10px), 1fr);
    grid-template-rows: 100%;
    column-gap: 20px;
    min-height: 0;
    transition: grid-template-columns 200ms ease-in-out, column-gap 200ms ease-in-out;

    &.expanded {
        column-gap: 0;
        &.pdf {
            grid-template-columns: 100% 0fr;
            & .pdf-extraction-container {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &.data {
            grid-template-columns: 0 100%;
            & .pdf-display-container {
                padding-left: 0;
                padding-right: 0;
            }
        }

    }
}