


.pdf-extraction-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: var(--ev-colors-primary);
    transition: padding 200ms ease-in-out;

    & .pdf-extraction-header {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        font-weight: 600;

        & .approved-label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--ev-colors-success);
        }
        
        & .pdf-extraction-controls {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: 20px;

            & .tab-button {
                padding: 5px 20px;
            }

            & .comparison-button {
                font-size: 14px;
                font-weight: 400;
                background-color: var(--ev-colors-highlight);
                padding: 5px 10px;
            }
        }

        & .expansion-arrow {
            & > svg {
                height: 20px;
                width: 20px;
                transition: transform 200ms ease-in-out;
                transform: rotateY(180deg);
            }
            &.expanded > svg {
                transform: rotateY(0);
            }
        }

        & > button {
            background-color: var(--ev-colors-highlight);
            font-size: 12px;
            padding: 5px 20px;
        }
    }

    & .extraction-label {
        flex-grow: 1;
    }

    & .tabs-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin: 0 10px;
        border-bottom: 1px solid var(--ev-colors-borderColor);

        & > button.tab-button {
            padding: 10px 20px;
            margin-bottom: -1px;
            border-bottom: 2px solid transparent;
            border-radius: 0;
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
            color: var(--ev-colors-secondaryText);

            &.active {
                color: var(--ev-colors-highlight);
                border-bottom-color: var(--ev-colors-highlight);
            }
        }
    }
    
    & .pdf-extraction-scroller {
        flex-grow: 1;
        overflow-y: scroll;
        @include scrollbar();
    }

    & .pdf-extraction-contents {
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .empty-bits {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px 20px;
            color: var(--ev-colors-secondaryText);
        }
    }




}


.invoice-approval-dialog-contents {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .warning {
        color: var(--ev-colors-danger);
        text-align: end;
    }
}


