

.role-card-container {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    
    background-color: var(--ev-colors-primary);
    border: 1px solid var(--ev-colors-borderColor);
    border-radius: 8px;

    &.selected {
        border-color: var(--ev-colors-highlight);
        box-shadow: 0 0 2px 1px var(--ev-colors-highlight), inset 0 0 2px 1px var(--ev-colors-highlight);
        &:focus {
            box-shadow: 0 0 2px 1px var(--ev-colors-highlight), inset 0 0 2px 1px var(--ev-colors-highlight);
        }
    }


    & .role-card-line {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;
        color: var(--ev-colors-secondaryText);
        white-space: nowrap;

        & .main {
            color: var(--ev-colors-text);
            font-weight: 500;
        }
        & .secondary {
            color: var(--ev-colors-text);
        }
        & .cut-overflow {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

}