aiohttp==3.9.1 ; python_version >= "3.11" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
anyio==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
argo-workflows==6.5.4 ; python_version >= "3.11" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version <= "3.11.2"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.12"
boto3==1.34.17 ; python_version >= "3.11" and python_version < "3.12"
botocore==1.34.17 ; python_version >= "3.11" and python_version < "3.12"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
dataclasses-json==0.6.3 ; python_version >= "3.11" and python_version < "3.12"
fastapi==0.109.0 ; python_version >= "3.11" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.11" and python_version < "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio-tools==1.60.0 ; python_version >= "3.11" and python_version < "3.12"
grpcio==1.60.0 ; python_version >= "3.11" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
h2==4.1.0 ; python_version >= "3.11" and python_version < "3.12"
hpack==4.0.0 ; python_version >= "3.11" and python_version < "3.12"
httpcore==1.0.2 ; python_version >= "3.11" and python_version < "3.12"
httpx[http2]==0.26.0 ; python_version >= "3.11" and python_version < "3.12"
hyperframe==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
idna==3.6 ; python_version >= "3.11" and python_version < "3.12"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
jsonpatch==1.33 ; python_version >= "3.11" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.11" and python_version < "3.12"
langchain-community==0.0.11 ; python_version >= "3.11" and python_version < "3.12"
langchain-core==0.1.10 ; python_version >= "3.11" and python_version < "3.12"
langchain==0.1.0 ; python_version >= "3.11" and python_version < "3.12"
langsmith==0.0.80 ; python_version >= "3.11" and python_version < "3.12"
marshmallow==3.20.2 ; python_version >= "3.11" and python_version < "3.12"
metaflow==2.10.9 ; python_version >= "3.11" and python_version < "3.12"
multidict==6.0.4 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.3 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.12"
portalocker==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
protobuf==4.25.2 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.14.6 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.5.3 ; python_version >= "3.11" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "3.12"
python-multipart==0.0.6 ; python_version >= "3.11" and python_version < "3.12"
pywin32==306 ; python_version >= "3.11" and python_version < "3.12" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
qdrant-client==1.7.0 ; python_version >= "3.11" and python_version < "3.12"
redis==5.0.1 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
s3transfer==0.10.0 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.0.3 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
sqlalchemy==2.0.25 ; python_version >= "3.11" and python_version < "3.12"
starlette==0.35.1 ; python_version >= "3.11" and python_version < "3.12"
tenacity==8.2.3 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "3.12"
urllib3==1.26.18 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.26.0 ; python_version >= "3.11" and python_version < "3.12"
websockets==12.0 ; python_version >= "3.11" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "3.12"
